// MEDIA 1020px
@media screen and (max-width: 1020px) {
  .nav__list {
    gap: 25px;
  }

  .hero__img {
    width: 650px;
  }

  .section-title {
    font-size: 50px;
  }

  .section-description {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .information__img {
    max-width: 600px;
  }
}

// MEDIA 956px
@media screen and (max-width: 956px) {
  .section-description {
    font-size: 16px;
  }

  .btn {
    padding: 13px 25px;
    font-size: 15px;
  }

  .nav {
    padding: 15px 0;

    &__logo img {
      width: 100px;
    }

    &__list {
      gap: 15px;
    }

    &__buttons {
      gap: 10px;
    }

    &__cart {
      width: 40px;
      height: 40px;

      img {
        width: 20px;
      }
    }

    &__badge {
      font-size: 7px;
      width: 12px;
      height: 12px;
    }

    &__login {
      padding: 9px 25px;
      font-size: 12px;
    }
  }

  .hero {
    &__container {
      padding: 70px 20px;
    }

    &__subtitle {
      font-size: 15px;
      padding: 10px 20px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 60px;
      margin-bottom: 10px;
    }

    &__description {
      margin-bottom: 50px;
    }

    &__img {
      width: 530px;
    }
  }

  .information {
    &__img {
      max-width: 500px;
      width: 100%;
      object-fit: cover;
      margin-left: -60px;
    }

    &__container {
      padding: 90px 20px;
    }
  }
}

// MEDIA 775px
@media screen and (max-width: 775px) {
  .section-title {
    font-size: 40px;
  }

  .section-description {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .nav {
    &__logo img {
      width: 130px;
    }

    &__list {
      position: absolute;
      right: -100%;
      top: 0;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
      height: 100vh;
      background: var(--white-color);
      margin: 0 auto;
      padding: 35px;
      z-index: 99;
    }

    &__login {
      position: absolute;
      left: 200%;
      top: 260px;
      z-index: 99;
    }

    &__close {
      display: block;
      position: absolute;
      right: -100%;
      top: 33px;
      z-index: 99;
    }

    &__menu {
      display: block;
    }

    &__behind {
      display: block;
    }
  }

  .nav--active .nav__list {
    right: 0;
  }

  .nav--active .nav__login {
    left: 55%;
  }

  .nav--active .nav__close {
    right: 30px;
  }

  .nav--active .nav__behind {
    right: 0;
  }

  .hero {
    &__data {
      max-width: 360px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__title {
      font-size: 45px;
    }

    &__description {
      font-size: 14px;
      margin-bottom: 30px;
    }

    &__buttons {
      gap: 15px;
    }

    &__order,
    &__reservation {
      font-size: 10px;
      padding: 10px 20px;
    }

    &__img {
      width: 400px;
      margin-right: -85px;
    }
  }

  .information {
    &__title {
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__img {
      max-width: 400px;
    }
  }
}

// MEDIA 576px
@media screen and (max-width: 576px) {
  .nav__list {
    width: 60%;
  }

  .nav--active .nav__login {
    left: 45%;
  }

  .hero {
    &__container {
      flex-direction: column;
    }

    &__data {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 60px;
    }

    &__img {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

// MEDIA 375PX
@media screen and (max-width: 375px) {
  .nav__list {
    width: 80%;
  }

  .nav--active .nav__login {
    left: 29%;
  }

  .hero {
    &__container {
      padding: 60px 20px;
    }

    &__subtitle {
      font-size: 10px;
      padding: 8px 15px;
    }

    &__title {
      font-size: 45px;
    }
  }
}