.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  padding: 14px 40px;
  border: 2px solid transparent;
  border-radius: 162px;
  transition: all 0.3s ease;
}

.small-btn {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  padding: 12px 35px;
  border: 2px solid transparent;
  border-radius: 133px;
  transition: all 0.3s ease;
}

.section-title {
  font-family: "Tinos";
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  color: var(--title-color);
}

.section-description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--description-color);
}

.main {
  padding-top: 100px;
}